<h1>Editing genre</h1>

<%= render 'form', genre: @genre %>

<br>

<div>
  <%= link_to 'Show this genre', @genre, data: { turbo_frame: '_top' }, class: 'model-link' %> |
  <%= link_to 'Back to genres', genres_path, data: { turbo_frame: '_top' }, class: 'model-link' %>
</div>
