<%= render 'shared/header_actions', record: @genre %>

<%= render 'form', genre: @genre %>

<br>

<div>
  <%= link_to 'View', @genre, data: { turbo_frame: '_top' }, class: 'model-link' %> |
  <%= link_to 'Back to genres', genres_path, data: { turbo_frame: '_top' }, class: 'model-link' %>
</div>
