<%= render 'shared/result_messages', record: @book_loan %>

<h1>Book loans</h1>

<div id='book_loans' class='my-3'>
  <%= render 'shared/render_list' %>
</div>

<%= link_to 'New book loan', new_book_loan_path %>
