<%= render 'shared/result_messages', record: @book_loan %>
<%= render 'shared/index_header' %>

<div id='book_loans' class='my-3'>
  <% @book_loans.each do |book_loan| %>
    <%= render book_loan %>
  <% end %>
</div>

<%= link_to 'New book_loan', new_book_loan_path %>
