<%= render 'shared/result_messages', record: @author %>
<%= render 'shared/index_header' %>

<div id='authors' class='my-3'>
  <% @authors.each do |author| %>
    <%= render author %>
  <% end %>
</div>

<%= link_to 'New author', new_author_path %>
