<% model_record = defined?(locals) ? locals[:record] : (defined?(record) ? record : nil) %>
<% model_name = model_record.class.name.to_s.downcase rescue model_record&.id %>

<% if model_record && model_record.errors.any? %>
  <div id='<%= model_name %>-error' class='error-messages alert alert-danger'>
    <h4 class='alert-heading'>
      <%= pluralize(model_record.errors.count, 'error') %> prohibited this <%= model_name %> from being saved:
    </h4>
    <ul class='mb-0'>
      <% model_record.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
