<%
model_record = defined?(locals) ? locals[:record] : (defined?(record) ? record : nil)

data_attributes = {
  turbo_method: 'delete',
  turbo_confirm: translate('actions.confirm_destroy', model: record.class.model_name.human, count: 1),
}
%>

<%
  footer_class = 'card-footer'
  actions = []

  if is_index_action? || action_name.in?(%w[show])
    if is_index_action?
      actions << link_to(translate('actions.view'), model_record)
    end
    actions << link_to(translate('actions.edit'), edit_polymorphic_path(model_record))
    actions << link_to(translate('actions.delete'), model_record, method: :delete, data: data_attributes)
  elsif action_name.in?(%w[edit update])
    actions << link_to(translate('actions.view'), model_record)
  end

  if !is_index_action?
    actions << link_to(translate('actions.back_to_list', model: model_record.class.model_name.human.pluralize(I18n.locale)), polymorphic_path(controller_name))
    footer_class = 'mt-4' if action_name != 'show'
  end

  actions
%>

<div class='<%= footer_class %>'>
  <%= actions.join(' | ').html_safe %>
</div>
