<div class='d-flex align-items-center'>
  <h1 class='mb-0'>List of <%= controller_name.pluralize.titleize %></h1>
  <%= link_to 'New', new_polymorphic_path(controller_name.singularize), class: 'btn btn-primary ms-auto' %>
</div>
