<div class='d-flex align-items-center'>
  <h2 class='mb-0'>List of <%= controller_name.pluralize.titleize %></h2>
  <%= link_to 'New', new_polymorphic_path(controller_name.singularize), class: 'btn btn-primary btn-sm ms-auto' %>
</div>
