<div class='d-flex align-items-center'>
  <h2 class='mb-0'><%= translate('ui.list_of') %> <%= translate("ui.sidebar_menu.#{controller_name}") %></h2>
  <%= link_to translate('actions.new'), new_polymorphic_path(controller_name.singularize), class: 'btn btn-primary btn-sm ms-auto' %>
</div>
