<div id='<%= dom_id library %>'>
  <p>
    <strong>Name:</strong>
    <%= library.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= library.address %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= library.active %>
  </p>

</div>
