<%= render 'shared/header_actions', record: @library %>

<%= render 'form', library: @library %>

<br>

<div>
  <%= link_to translate('actions.view'), @library %> |
  <%= link_to 'Back to libraries', libraries_path %>
</div>
