<%= render 'shared/result_messages', record: @library %>

<h1>Libraries</h1>

<div id='libraries' class='my-3'>
  <%= render 'shared/render_list' %>
</div>

<%= link_to 'New library', new_library_path %>
