<%= render 'shared/result_messages', record: @library %>
<%= render 'shared/index_header' %>

<div id='libraries'>
  <% @libraries.each do |library| %>
    <%= render library %>
  <% end %>
</div>

<%= link_to 'New library', new_library_path %>
