<%= render 'shared/header_actions', record: @library %>

<%= render 'form', library: @library %>

<br>

<div>
  <%= link_to 'Back to libraries', libraries_path, data: { turbo_frame: '_top' }, class: 'model-link' %>
</div>
