<div id='<%= dom_id publisher %>' class='card mt-3'>
  <div class='card-header border-success border-top border-bottom-0 border-4'>
    <h4 class='mb-0'><%= publisher.name %></h4>
  </div>

  <div class='card-body row row-cols-1'>
    <%= render 'shared/display_fields', record: publisher %>
  </div>

  <%= render 'shared/footer_actions', record: publisher %>
</div>
