<%= render 'shared/header_actions', record: @publisher %>

<%= render 'form', publisher: @publisher %>

<br>

<div>
  <%= link_to translate('actions.view'), @publisher %> |
  <%= link_to 'Back to publishers', publishers_path %>
</div>
