<h1>Editing publisher</h1>

<%= render 'form', publisher: @publisher %>

<br>

<div>
  <%= link_to translate('actions.view'), @publisher %> |
  <%= link_to 'Back to publishers', publishers_path %>
</div>
