<h1>Editing publisher</h1>

<%= render 'form', publisher: @publisher %>

<br>

<div>
  <%= link_to 'Show this publisher', @publisher, data: { turbo_frame: '_top' }, class: 'model-link' %> |
  <%= link_to 'Back to publishers', publishers_path, data: { turbo_frame: '_top' }, class: 'model-link' %>
</div>
