<%= render 'shared/result_messages', record: @publisher %>

<h1>Publishers</h1>

<div id='publishers' class='my-3'>
  <%= render 'shared/render_list' %>
</div>

<%= link_to 'New publisher', new_publisher_path %>
