<%= render 'shared/result_messages', record: @publisher %>
<%= render 'shared/index_header' %>

<div id='publishers' class='my-3'>
  <%= render 'shared/base_render' %>
</div>

<%= link_to translate('actions.new_model', model: Publisher.model_name.human), new_publisher_path %>
