<!-- /.row-->
<div class='row'>
  <div class='col-md-12'>
    <div class='card mb-4'>
      <div class='card-header'>Traffic &amp; Sales</div>
      <div class='card-body'>
        <%= render 'home/progress' %>
        <br>
        <%= render 'home/users_table' %>
      </div>
    </div>
  </div>
  <!-- /.col-->
</div>
<!-- /.row-->
