
<%= render 'shared/header_actions', record: @book %>

<%= render 'form', book: @book %>

<br>

<div>
  <%= link_to 'View', @book, data: { turbo_frame: '_top' }, class: 'model-link' %> |
  <%= link_to 'Back to books', books_path, data: { turbo_frame: '_top' }, class: 'model-link' %>
</div>
