<%= render 'shared/result_messages', record: @book %>
<%= render 'shared/index_header' %>

<div id='books' class='my-3'>
  <%= render 'shared/base_render' %>
</div>

<%= link_to translate('actions.new_model', model: Book.model_name.human), new_book_path %>
