<%= render 'shared/result_messages', record: @book %>
<%= render 'shared/index_header' %>

<div id='books' class='my-3'>
  <% @books.each do |book| %>
    <%= render book %>
  <% end %>
</div>

<%= link_to 'New book', new_book_path %>
