<div id='<%= dom_id tag %>' class='card mt-3'>
  <div class='card-header border-info border-top border-bottom-0 border-4'>
    <h2 class='mb-0'><%= tag.name %></h2>
  </div>

  <div class='card-body'>
    <p>
      <strong>Active:</strong>
      <%= tag.active %>
    </p>
  </div>

  <%= render 'shared/footer_actions', record: tag %>
</div>
