
<h1>Editing tag</h1>

<%= render 'form', tag: @tag %>

<br>

<div>
  <%= link_to 'Show this tag', @tag, data: { turbo_frame: '_top' }, class: 'model-link' %> |
  <%= link_to 'Back to tags', tags_path, data: { turbo_frame: '_top', class: 'model-link' } %>
</div>
