<%= render 'shared/header_actions', record: @tag %>

<%= render 'form', tag: @tag %>

<br>

<div>
  <%= link_to 'View', @tag, data: { turbo_frame: '_top' }, class: 'model-link' %> |
  <%= link_to 'Back to tags', tags_path, data: { turbo_frame: '_top' }, class: 'model-link' %>
</div>
