<%= render 'shared/result_messages', record: @tag %>
<%= render 'shared/index_header' %>

<div id='tags' class='my-3'>
  <%= render 'shared/base_render' %>
</div>

<%= link_to translate('actions.new_model', model: Tag.model_name.human), new_tag_path %>
