<div id="<%= dom_id book_category %>">
  <p>
    <strong>Book:</strong>
    <%= book_category.book_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= book_category.category_id %>
  </p>

</div>
