<h1>Editing book category</h1>

<%= render 'form', book_category: @book_category %>

<br>

<div>
  <%= link_to 'Show this book category', @book_category, data: { turbo_frame: '_top' }, class: 'model-link' %> |
  <%= link_to 'Back to book categories', book_categories_path, data: { turbo_frame: '_top' }, class: 'model-link' %>
</div>
