<div id='<%= dom_id author_profile %>' class='card mt-3'>
  <div class='card-header border-success border-top border-bottom-0 border-4'>
    <h4 class='mb-0'><%= author_profile.author&.full_name %></h4>
  </div>

  <div class='card-body row row-cols-1'>
    <%= render 'shared/display_fields', record: author_profile %>
  </div>

  <%= render 'shared/footer_actions', record: author_profile %>
</div>
