<div id="<%= dom_id author_profile %>">
  <p>
    <strong>Author:</strong>
    <%= author_profile.author_id %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= author_profile.bio %>
  </p>

  <p>
    <strong>Social links:</strong>
    <%= author_profile.social_links %>
  </p>

</div>
