<h1>Editing author profile</h1>

<%= render 'form', author_profile: @author_profile %>

<br>

<div>
  <%= link_to translate('actions.view'), @author_profile %> |
  <%= link_to 'Back to author profiles', author_profiles_path %>
</div>
