<h1>Editing author profile</h1>

<%= render 'form', author_profile: @author_profile %>

<br>

<div>
  <%= link_to 'Show this author profile', @author_profile, data: { turbo_frame: '_top' }, class: 'model-link' %> |
  <%= link_to 'Back to author profiles', author_profiles_path, data: { turbo_frame: '_top' }, class: 'model-link' %>
</div>
