<%= render 'shared/result_messages', record: @author_profile %>
<%= render 'shared/index_header' %>

<div id='author_profiles' class='my-3'>
  <% @author_profiles.each do |author_profile| %>
    <%= render author_profile %>
  <% end %>
</div>

<%= link_to 'New author profile', new_author_profile_path %>
