// Here you can add other styles
:root {
  --coreui-free-icons: url('coreui-free.svg');
  --coreui-flag-icons: url('coreui-flag.svg');
  --coreui-brand-icons: url('coreui-brand.svg');
}

.sidebar-nav {
  .nav-link.active.text-info {
    .nav-icon {
      color: currentColor;
    }
  }
}

[data-controller="tabs"] {
  .loading-wrapper {
    background: rgb(207 207 207 / 50%);
  }

  .tab-content > .tab-pane {
    position: relative;
    min-height: 130px;
  }
}

// Mixin for hover text color
@mixin hover-text-color($color) {
  &:hover {
    color: $color !important;
  }
}

// Apply the mixin for all color variations
.hover-text-info { @include hover-text-color($info); }
.hover-text-danger { @include hover-text-color($danger); }
.hover-text-warning { @include hover-text-color($warning); }
.hover-text-success { @include hover-text-color($success); }
.hover-text-primary { @include hover-text-color($primary); }
.hover-text-secondary { @include hover-text-color($secondary); }
.hover-text-dark { @include hover-text-color($dark); }

[data-label-class='search-hint'] {
  display: none;
}
