<%= render 'shared/header_actions', record: @category %>

<%= render 'form', category: @category %>

<br>

<div>
  <%= link_to 'View', @category, data: { turbo_frame: '_top' }, class: 'model-link' %> |
  <%= link_to 'Back to categories', categories_path, data: { turbo_frame: '_top' }, class: 'model-link' %>
</div>
