<h1>Editing category</h1>

<%= render 'form', category: @category %>

<br>

<div>
  <%= link_to 'Show this category', @category, data: { turbo_frame: '_top' }, class: 'model-link' %> |
  <%= link_to 'Back to categories', categories_path, data: { turbo_frame: '_top' }, class: 'model-link' %>
</div>
