<%= render 'shared/header_actions', record: @category %>

<%= render 'form', category: @category %>

<br>

<div>
  <%= link_to 'View', @category %> |
  <%= link_to 'Back to categories', categories_path %>
</div>
