<%= render 'shared/result_messages', record: @category %>
<%= render 'shared/index_header' %>

<div id='categories' class='my-3'>
  <%= render 'shared/base_render' %>
</div>

<%= link_to translate('actions.new_model', model: Category.model_name.human), new_category_path %>
