<%= render 'shared/result_messages', record: @category %>

<h1>Categories</h1>

<div id='categories' class='my-3'>
  <%= render 'shared/render_list' %>
</div>

<%= link_to 'New category', new_category_path %>
