<h1>Editing published date</h1>

<%= render 'form', published_date: @published_date %>

<br>

<div>
  <%= link_to translate('actions.view'), @published_date %> |
  <%= link_to 'Back to published dates', published_dates_path %>
</div>
