<%= render 'shared/result_messages', record: @published_date %>
<%= render 'shared/index_header' %>

<div id='published_dates'>
  <% @published_dates.each do |published_date| %>
    <%= render published_date %>
  <% end %>
</div>

<%= link_to 'New published date', new_published_date_path %>
