<div id='<%= dom_id review %>' class='card mt-3'>
  <div class='card-header border-info border-top border-bottom-0 border-4'>
    <h4 class='mb-0'><%= review.book&.title %></h4>
  </div>

  <div class='card-body row row-cols-1'>
    <%= render 'shared/display_fields', record: review %>
  </div>

  <%= render 'shared/footer_actions', record: review %>
</div>
