<%= render 'shared/result_messages', record: @review %>
<%= render 'shared/index_header' %>

<div id='reviews' class='my-3'>
  <%= render 'shared/base_render' %>
</div>

<%= link_to translate('actions.new_model', model: Review.model_name.human), new_review_path %>
