<%= render 'shared/header_actions', record: @review %>

<%= render 'form', review: @review %>

<br>

<div>
  <%= link_to 'Back to reviews', reviews_path, data: { turbo_frame: '_top' }, class: 'model-link' %>
</div>
