<%= render 'shared/result_messages', record: @member %>
<%= render 'shared/index_header' %>

<div id='members'>
  <% @members.each do |member| %>
    <%= render member %>
  <% end %>
</div>

<%= link_to 'New member', new_member_path %>
